@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('../css/fontello.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

html {
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background: #00C473;
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}

.header {
    height: 80px;
    padding: 0 88px 0 95px;
    background: #00C473;
    position: relative;
}

.logo{
    display: inline-block;
    height: 35px;
    position: absolute;
    top: 25px;
}

.logo a{    
    height: 35px;
}

.logo img {
    width: 130px;
    height: inherit;
}

.menu {
    white-space: nowrap;
    padding-top: 30px;
}

.menu-item {
    display: inline-block;
    width: 630px;
    margin-left: 130px;
    position: relative;
}

.menu-item li {
    display: inline-block;
    padding-left: 50px;
    font-size: 1.5rem;
    color: #fff;
}

.menu-item li:nth-child(3n) a::after {
    content: "N";
    font-size: 0.2em;
    background: #E94E24;
    border-radius: 10px;
    position: absolute;
    padding: 2px 5px;
    margin-left: 3px;
}

.login {
    background: #fff;
    color: #00C473;
    border-radius: 35px;
    padding: 6px 34px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 220px;
}

/* aside 영역 */

.intro {
    background-image: url('https://cdn.jandi.com/landing/assets/images/main/baa3d8b4.top_bar_bg.png');
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    color: #fff;
    line-height: 50px;
    height: 50px;
    font-size: 1.4rem;
    z-index: 10;
}

.intro-link {
    background: #fff;
    color: #46566D;
    border-radius: 4px;
    padding: 3px 13px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 9px;
}

.icon-right::after {
    font-family: 'fontello';
    content: '\f105';
    margin-left: 8px;
}

.icon-cancel {
    float: right;
    width: 40px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
}

/* 메인 콘테이너 영역 */

/* 프로모션 1 */
.promotion1 {
    padding: 90px 90px 0 90px;
    height: 765px;
    /* background: purple; */
}

.divider {
    position: absolute;
    right: 0;
    top: 300px;
    width: 10px;
    height: 10px;
    border-bottom: 600px solid #fff;
    border-left: 1280px solid transparent;
    z-index: -1;
}

.promotion1-detail img {
    width: auto;
    height: 50px;
    display: block;
    margin-bottom: 25px;
}

.promotion1-btn {
   white-space: nowrap;
}

.description {
    font-size: 1.8rem;
    color: #fff;
    line-height: 25px;
    margin-bottom: 45px; 
}

.btn {
    font-size: 1.6rem;
    border-radius: 25px;
    padding: 10px 70px;
    font-weight: 700;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    transition: 0.5s;
    bottom: 3px;
}

.btn:hover{
    box-shadow: none;
    bottom: 0px;
}

.btn1 {
    background: rgba(11, 146, 90, 0.94);
    color: #fff;
    margin-right: 5px;
}

.btn2 {
    background: #fff;
    color: #00B067;
}

.aa {
    position: relative;
    padding-top: 50px;
}

.promotion1-bg-item {
    background:url('/img/bg.png') no-repeat;
    background-size: 700px;
    width: 700px;
    height: 620px;
    bottom: -300px;
    right: 20px;
    position: absolute;
}

/* .sponsor {
    position: relative;
}

.linkage {
    position: relative;
} */

/*  */

.sponsor{
    padding: 110px 106px 70px 106px;
    height: 385px;
    background: #fff;
}

.sponsor p{
    font-size: 1.6rem;
    /* background: skyblue; */
    text-align: center;
    color: #777;
}

.sponsor-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 35px 0;
}

.sponsor-wrapper li img{
    /* width: 200px; */
    height: 90px;
}

/* 잔디 주요 기능 */

.function{
    background: #fff;
}

.function-heading{
    font-weight: 700px;
    font-size: 4.2rem;
    padding: 30px 0 140px 0;
    text-align: center;
}

.function h3{
    color: #00C473;
    font-size: 3.6rem;
    margin-bottom: 30px;
}

.function strong{
    font-size: 2.4rem;
    display: inline-block;
    color: #4b4b4b;
    font-weight: 700;
    margin-bottom: 20px;
}

.function p{
    font-size: 1.5rem;
    color: #797979;
    width: 500px;
}

/* 대화방 */

.chat-room{
    height: 450px;
    padding: 98px 0 0 98px;
    background: #fff;
    position: relative;
}

.chat-room p{
    width: 480px;
}

.chat-room span{
    position: absolute;
    display: inline-block;
    background: url('../img/messenger-bg-item.png') no-repeat;
    background-size: 560px;
    width: 560px;
    height: 450px;
    top: 10px;
    right: 0;
}

/* 파일 */

.file{
    height: 560px;
    padding: 220px 110px 110px 680px;
    background: #fafafa;
    position: relative;
    padding-right: 110px;
    margin-bottom: 60px;
}

.file p{
    width: auto;
}

.file span{
    position: absolute;
    background: url('../img/file-bg-item.png') no-repeat;
    background-position: 100% 0;
    width: 600px;
    height: 500px;
    bottom: -82px;
    left: -50px;
    display: block;
}

/* 관리자메뉴 */

.admin-menu{
    height: 555px;
    display: flex;
    flex-wrap:wrap;
}

.admin-menu-item{
    /* background: pink; */
    width: 1280px;
    height: 240px;
    display: flex;
    justify-content: space-around; 
    order: -1;
    margin: 0 40px;
}

.admin-menu-item li{
    width: 235px;
    height: 235px;
    background: #fff;
    text-align: center;
    /* border: 1px solid #aaa; */
    transition: 0.5s;
    position: relative;
    bottom: 0;
}

.admin-menu-item p{
    width: inherit;
    padding: 0 33px;
    color: #737373;
    font-size: 1.5rem;
}

.admin-menu-item p strong{
    color: #737373;
    font-size: 1.8rem;
}

[class^="admin-menu-item-icon"]{
    font-family: 'fontello';
    display: inline-block;
    font-size: 4rem;
    height: 80px;
    width: inherit;
    line-height: 80px;
    color: #737373;
    margin: 10px 0 20px 0 ;
}

.admin-menu-item li:hover p, .admin-menu-item li:hover span{
    color: #000;
}

.admin-menu-item li:hover strong{
    color: #00C473;
}

.admin-menu-item li:hover{
    box-shadow:  -3px 3px 10px 2px #eee;
    border-radius: 15px;
    position: relative;
    bottom: 2px;
}

.admin-menu-item-icon1::after{
    content: '\e802';
}

.admin-menu-item-icon2::after{
    content: '\e801';
}

.admin-menu-item-icon3::after{
    content: '\f02e';
}

.admin-menu-item-icon4::after{
    content: '\f1de';
}

.admin-menu-item-icon5::after{
    content: '\f512';
}

.admin-heading{
    padding-left: 150px;
    padding-right: 310px;
}

/* 연동 영역 */

.linkage{
    background: #fafafa;
    height: 854px;
    overflow: hidden;
}

.linkage-heading{
    padding-top: 60px;
}

.linkage-heading, .linkage p{
    text-align: center;
    width: 100%;
}

.linkage p{
    margin-top: 30px;
}

.linkage-list{
    margin: 25px 185px 0 185px;
    /* background: pink; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.linkage-list li{
    border-radius: 5px;
    background: #fff;
    box-shadow: -1px 1px 2px 2px #ddd;
    margin-top: 10px;
    cursor: pointer;
}

.linkage-list li img{
    width: 90px;
    bottom: 0;
    position: relative;
    transition: 245ms;
    box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.15);
}

.linkage-list li:nth-child(n+2):hover{
    position: relative;
    box-shadow: -6px 8px 10px 5px rgba(0, 0, 0, 0.15);
    bottom: 2px;
    transition: 245ms;
    /* background: yellow; */
}

.selected{
    box-shadow: 10px 10px 10px 10px #000;
}

.linkage span{
    display: block;
    margin: 0 auto;
    background: url('../img/linkage-bg-item.png');
    background-size: 1152px;
    width: 1152px;
    height: 440px;
}