@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('./font/fontello.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background: #00C473;
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}

.header {
    height: 80px;
    padding: 0 88px 0 95px;
    background: #00C473;
    position: relative;
}

.logo{
    display: inline-block;
    height: 35px;
    position: absolute;
    top: 25px;
}

.logo a{    
    height: 35px;
}

.logo img {
    width: 130px;
    height: inherit;
}

.menu {
    white-space: nowrap;
    padding-top: 30px;
}

.menu-item {
    display: inline-block;
    width: 630px;
    margin-left: 130px;
    position: relative;
}

.menu-item li {
    display: inline-block;
    padding-left: 50px;
    font-size: 1.5rem;
    color: #fff;
}

.menu-item li:nth-child(3n) a::after {
    content: "N";
    font-size: 0.2em;
    background: #E94E24;
    border-radius: 10px;
    position: absolute;
    padding: 2px 5px;
    margin-left: 3px;
}

.login {
    background: #fff;
    color: #00C473;
    border-radius: 35px;
    padding: 6px 34px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 220px;
}

/* aside 영역 */

.intro {
    background-image: url('https://cdn.jandi.com/landing/assets/images/main/baa3d8b4.top_bar_bg.png');
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    color: #fff;
    line-height: 50px;
    height: 50px;
    font-size: 1.4rem;
    z-index: 10;
}

.intro-link {
    background: #fff;
    color: #46566D;
    border-radius: 4px;
    padding: 3px 13px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 9px;
}

.icon-right::after {
    font-family: 'fontello';
    content: '\f105';
    margin-left: 8px;
}

.icon-cancel {
    float: right;
    width: 40px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
}

.promotion1 {
    padding: 90px 90px 0 90px;
    height: 765px;
    /* background: purple; */
}

.divider {
    position: absolute;
    right: 0;
    top: 300px;
    width: 10px;
    height: 10px;
    border-bottom: 600px solid #fff;
    border-left: 1280px solid transparent;
    z-index: -1;
}

.promotion1-detail img {
    width: auto;
    height: 50px;
    display: block;
    margin-bottom: 25px;
}

.promotion1-btn {
   white-space: nowrap;
}

.description {
    font-size: 1.8rem;
    color: #fff;
    line-height: 25px;
    margin-bottom: 45px; 
}

.btn {
    font-size: 1.6rem;
    border-radius: 25px;
    padding: 10px 70px;
    font-weight: 700;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.15);
}

.btn1 {
    background: rgba(11, 146, 90, 0.94);
    color: #fff;
    margin-right: 5px;
}

.btn2 {
    background: #fff;
    color: #00B067;
}

.aa {
    position: relative;
    padding-top: 50px;
}

.bg-item {
    background:url('/img/bg.png') no-repeat;
    background-size: 700px;
    width: 700px;
    height: 620px;
    bottom: -250px;
    right: -80px;
    position: absolute;
}

/* .sponsor {
    position: relative;
}

.linkage {
    position: relative;
} */

